nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #353936;
  font-weight: 600;
}

.nav__projectName {
  color: #E0E5E1;
  text-decoration: none;
}

.authLink {
  color: #E0E5E1;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #C9D2CB;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #E0E5E1;
  border: solid;
  border-radius: 2px;
  cursor: pointer;
  color: #E0E5E1;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #E0E5E1;
}
